@{
    ViewData["Title"] = "Наем Успешен";
}

<div class="text-center">
    <h1>Продуктите бяха успешно наети!</h1>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Към Начало</a>
</div>