@using HAR.Web.Models.User
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Обнови Парола";
}

<form method="post">
    <div>
        <label class="form-label">Текуща Парола<span style="color:red;">*</span></label>
        <input class="form-control" asp-for="CurrentPassword" type="password" />
        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
    </div>
    <div>
        <label class="form-label">Нова Парола<span style="color:red;">*</span></label>
        <input class="form-control" asp-for="NewPassword" type="password" />
        <span class="text-danger" asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label class="form-label">Повтори Парола<span style="color:red;">*</span></label>
        <input class="form-control" asp-for="ConfirmPassword" type="password" />
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <br />
    <span class="text-danger">@Html.ValidationMessage("ChangePasswordErrors")</span>
    <hr />
    <button class="btn btn-primary" type="submit">Запази</button>
    <a asp-controller="User" asp-action="Settings" class="btn btn-secondary">Назад</a>
</form>