@{
    ViewData["Title"] = "Потребител";
}

<div class="row text-center">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <a asp-controller="User" asp-action="Settings" class="card-text stretched-link" style="text-decoration:inherit; color:inherit">Настройки</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <a asp-controller="Address" class="card-text stretched-link" style="text-decoration:inherit; color:inherit">Моите адреси</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <a asp-controller="Cart" class="card-text stretched-link" style="text-decoration:inherit; color:inherit">Моята количка</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <a asp-controller="User" asp-action="Rents" class="card-text stretched-link" style="text-decoration:inherit; color:inherit">Моите наеми</a>
            </div>
        </div>
    </div>
</div>