@{
    ViewData["Title"] = "Отказан Достъп";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-danger">Отказан Достъп</h1>
            <p class="lead">Извинявай, но нямаш правата да достъпиш тази страница!</p>
            <p>Ако вярваш че притежаваш правата, моля свържи се с администратор!</p>
        </div>
    </div>
</div>