@using HAR.Service.ViewModels.Auth
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SignInViewModel

@{
    ViewData["Title"] = "Вписване";
}

<form method="post">
    <div>
        <label class="form-label">Имейл<span style="color:red;">*</span></label>
        <input class="form-control" asp-for="Email" type="text" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div>
        <label class="form-label">Парола<span style="color:red;">*</span></label>
        <input class="form-control" asp-for="Password" type="password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <br />
    <span class="text-danger">@Html.ValidationMessage("SignInErrors")</span>
    <hr />
    <a href="/Auth/SignUp">Нямаш профил? Регистрирай се.</a>
    <hr />
    <button class="btn btn-primary" type="submit">Впиши се</button>
</form>